:root{
    --cinza:#aaa;
    --vermelho:red;
    --vermelho-escuro:rgb(92,6,6);
    --branca:white;
    --luz:rgb(93,89,89);
   
}
body{
    align-items: center;
    beckgraund-color: var(--vermelho-escuro);
    displey: flex;
    justiy-content:center;
    flex-dire

}